.row.mhn.mvxxl.txt-c
  a(href='https://docs.cloudfoundry.org/devguide/', target='_blank')
    img(src='/images/afcea-west.jpg', width='128', alt='AFCEA West 2017', title='AFCEA West 2017')
    br
    span.txt-c.small.type-neutral-4
      | Welcome to AFCEA West 2017 Conference.
  div( data-ping='ping' style='display: none;')
