.row.mhn.mvxxl.txt-c
  a(href='https://devops.geointservices.io/', target='_blank')
    img(src='/images/afrl.png', width='500', alt='AFRL', title='AFRL')
    br
    span.txt-c.small.type-neutral-4
      | The Air Force Research
  div( data-ping='ping' style='display: none;')
