.row.man
  .col-xs-24.col-sm-24.col-md-24.col-lg-24.mvxxl.txt-c
    a(href='https://www.airforce.com/', target='_blank')
      img.txt-b(src='/images/airforce.png', width='128', alt='Air Force', title='United States Air Force')
      br
    a(href='http://www.25af.af.mil/AboutUs/FactSheets/Display/tabid/6260/Article/662961/480th-intelligence-surveillance-and-reconnaissance-wing.aspx', target='_blank')
      img.txt-m(src='/images/480th-wing.jpg', width='128', alt='480th ISR Wing', title='480th ISR Wing')
